  <h2>Find developers in your city</h2>
  <md-input-container class="">
    <input mdInput value='{{ placeText }}' (keyup.enter)="searchRoute(place.value, language.value, 1, 30);" placeholder="Location Name" #place />
  </md-input-container>
  <md-input-container class="">
    <input mdInput value='{{ languageText }}' (keyup.enter)="searchRoute(place.value, language.value, 1, 30);" placeholder="Language e.g. Java" #language />
  </md-input-container>
  <button md-button class="btn btn-primary btn-lg" (click)="searchRoute(place.value, language.value, 1, 30);">Search</button>
  <button md-button class="btn btn-primary btn-lg" (click)="reset()" [routerLink]="['/search']">Reset</button>

  <p class="text-center" style="padding: 1em; color:red;" *ngIf="error_text">{{ emptyText }}</p>

  <md-list>
    <h4>{{ total_count }}</h4>
    <md-list-item  *ngFor="let user of results" [routerLink]="['/search', user.login]">
      <md-icon md-list-icon>
        <img src="{{user.avatar_url}}" class="user-search__img">
      </md-icon>
      <h4 md-line>
        <a href="{{user.html_url}}" target="_blank" class="user-search__link">{{ user.login }}</a>
      </h4>
    </md-list-item>
  </md-list>

  <md-paginator *ngIf="results.length" [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pager(pageEvent = $event)">
  </md-paginator>